a:link{
color:blue;
}

a:visited{
color:purple;
}

a:hover{
color:red;
}

a:active{
color:green;
}

ul{
list-style-type:none;
list-style-position:inside;
}

li{
padding:10px;
margin:5px;
}