body{
background-image:url("bg.jpg");
background-color:#f2f2f2;
color:#333333;
}

h1{
background:linear-gradient(to right,blue,purple);
color:white;
padding:15px;
}

p{
background-color:rgba(0,0,255,0.1);
padding:10px;
}