body{
font-family:'Poppins',sans-serif;
}

h1{
font-size:40px;
font-weight:bold;
text-transform:uppercase;
text-align:center;
}

p{
font-size:18px;
font-style:italic;
letter-spacing:2px;
line-height:30px;
text-align:justify;
}